 <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

     <!-- Bootstrap Core CSS -->
    <link href="{{ site.baseurl }}/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ site.baseurl }}/stylesheets/simple-sidebar.css" rel="stylesheet">

    
  	<link rel="stylesheet" href="{{ "/stylesheets/main.css" | prepend: site.baseurl }}">
    
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/pygment_trac.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/print.css" media="print">
    

    <title>GSoC-Tracker by ehab93</title>
</head>
