<header>
<h6 href="#menu-toggle" id="menu-toggle">&lt;&lt; Recent Posts</h6>
  <div class="container">
    <h1><a href="https://ehab93.github.io/GSoC-Tracker" style="color: #b5e853;text-decoration: none;">GSoC-Tracker</a></h1>
    <h2></h2>
    <section id="downloads">
      <a href="https://github.com/ehab93/bone101/zipball/gh-pages" class="btn">Download as .zip</a>
      <a href="https://github.com/ehab93/bone101/tarball/gh-pages" class="btn">Download as .tar.gz</a>
      <a href="https://github.com/ehab93/bone101/tree/gh-pages" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
    </section>
  </div>
</header>