<header>
<h6 href="#menu-toggle" id="menu-toggle">&lt;&lt; Recent Posts</h6>
  <div class="container">
    <h1>GSoC-Tracker</h1>
    <h2></h2>
    <section id="downloads">
      <a href="https://github.com/ehab93/GSoC-Tracker/zipball/master" class="btn">Download as .zip</a>
      <a href="https://github.com/ehab93/GSoC-Tracker/tarball/master" class="btn">Download as .tar.gz</a>
      <a href="https://github.com/ehab93/GSoC-Tracker" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
    </section>
  </div>
</header>